.product{
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    height: 286px;
    width: 286;
    margin: 7px;
    border-radius: 8px;
   
}
.product-info{
    margin-left: 14px;
}
.name{
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-info p{
    margin-top: 5px;
}
.btn-cart{
    background:oldlace;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: orange;
    color: white;
}